@tailwind base;
@tailwind components;
@tailwind utilities;

/* .table td:last-child {
    border-radius: 0 5px 5px 0;
} */
.table td {
    /* border-radius: 0px 0px 0px 0px; */
    padding: 24px;
}

/* .table tbody tr {
    border-bottom: 0px;
} */
